version: '3.8'

services:
  frontend:
    image: gyumingim/frontend:latest
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    image: gyumingim/backend:latest
    container_name: backend
    ports:
      - "3000:3000"
    restart: unless-stopped